{{yield}}
<div class="santa">
	<div class="hat"></div>
	<div class="head">
		<div class="face"></div>
		<div class="eye"></div>
		<div class="eye right"></div>
		<div class="nose"></div>
	</div>
	<div class="body">
		<div class="hand left"></div>
		<div class="hand"></div>
		<div class="belt"></div>
		<div class="shoes"></div>
	</div>
</div>